.info {
  width: 100%;
  max-width: 1280px;
}

.info__title {
  max-width: 830px;
  font-size: 54px;
  font-family: "Inter Black";
  line-height: 58px;
  margin: 0 0 40px 100px;
}

.info__citation {
  max-width: 738px;
  margin: 0 0 10px 100px;
  font-family: "Inter Regular";
  font-size: 24px;
  line-height: 34px;
}

.info__citation_author {
  max-width: 730px;
  margin: 0 10px 32px 100px;
  display: flex;
  justify-content: end;
  font-size: 24px;
  line-height: 34px;
}

.info__paragraph {
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 118px 100px;
  max-width: 725px;
}

@media screen and (max-width: 1024px) {
  .info {
    max-width: 720px;
    margin: 0;
  }

  .info__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 58px 0;
  }

  .info__citation {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 13px;
  }

  .info__citation_author {
    margin: 0 10px 32px;
  }

  .info__paragraph {
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 720px) {
  .info {
    max-width: 288px;
    margin: 0;
  }

  .info__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 58px 0;
  }

  .info__citation {
    font-size: 24px;
    line-height: 30px;
  }
}
