.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.pictures__image {
  width: 100%;
  height: 100%;
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 1024px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
  }

  .pictures__image {
    width: 352px;
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .pictures {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .pictures__image {
    max-width: 288px;
  }
}
